
/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--sissy-boy-text-black:#000000;
	--sissy-boy-tekst-white:#FFFFFF;
	--sissy-boy-tekst-white:grey;

	--color-links-lopende-tekst:rgb(135, 165, 135);
	--color-links-lopende-tekst:rgb(91, 109, 91);
	--color-hover-links:rgb(135, 165, 135);

	--color-background-white:#FFFFFF;
	--color-background-black:#000000;
	--color-background-form:#eee;
	--color-background-checked-box:#eee;
	
	--color-buttons-:rgb(135, 165, 135);
	--color-icoontjes-black:#000000;
	--color-icoontjes-white:#000000;

	--color-header-chatbox:rgb(135, 165, 135);
	--color-sissy-boy-season-:rgb(243, 133, 133);
	--color-border-bottom:solid 1px rgb(211, 211, 211);

	--font-size-normaal: ;
	--font-size-h1: ;
	--font-size-h2: ;
	--font-size-h3: ;
	--font-size-p: ;
	--font-size-op-img: ;

	--text-margin-klein-formaat: ;
	--text-margin-middel-formaat: ;
	--text-margin-groot-formaat: ;


}

@font-face {
	font-family: "sissyboy-font";
	src: url('../fonts/CaviarDreams.ttf');
	font-weight: 400;
}

@font-face {
	font-family: "sissyboy-font";
	src: url('../fonts/CaviarDreamsBold.ttf');
	font-weight: 700;
}

/****************/
/* JOUW STYLING */
/****************/

body {
	margin: 0;
}
/* //////////////////////////////////////////header///////////////////////////////////// */

header{
	position: sticky;
	top: 0;
	z-index: 2;

	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;

	padding-bottom: 1em;
	background-color: var(--color-background-white);
}

/* logo */
header > a {
	width: 7em;
	position: absolute;
	top: 0.5em;
	left: 1em;
}

header > a img {
	width: 100%;
	height: auto;
}

/* zoekbalk */
header form {
	width:100%;
	background-color: var(--color-background-form);
	display: flex;
	align-items: center;
	border: none;
	border-bottom:solid 1px rgb(211, 211, 211);
	
	justify-content: end;
}

header form input {
	font:1em;
	padding: 0;
	border: none;
	text-align: end;
	padding: 0.1em;
	border-bottom: var(--color-border-bottom);
}

header form button {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0;

	background: none;
	border: none;

	padding-right: 1em ;
}

header form button img {
	width: 1em;
	height: auto;
}

/* header deel 2 */

/* menu button */

header > button {
	display: flex;
	flex-direction:column-reverse;
	gap:.3em;
	padding-left: 3em;

	font-size: 0.6em;
	border: none;
	background: none;
}

header > button img{
	width: 1.5rem;
	height: auto;
	cursor: pointer;
}

/* menu inklapbaar */

header nav:nth-of-type(1) {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 4em;

	background-color:white;
	translate:-100% 0%;
	transition:translate .3s;
}

header nav.toonMenu:nth-of-type(1) {
	translate:0% 0%;
}

header nav:nth-of-type(1) button {
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	display: flex;
	justify-content: end;
	
	background: none;
	border: none;
	border-bottom:var(--color-border-bottom);
	text-transform: uppercase;
	cursor: pointer;
}

header nav:nth-of-type(1) ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
	list-style: none;
	margin: 0;
	padding: 1em;
	padding-top: 2em;
}

header nav:nth-of-type(1) li {
	border-bottom:solid 1px rgb(211, 211, 211);
	padding: 0.8em;
}

header nav:nth-of-type(1) a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-family: "sissyboy-font";
}

/* icootjes */
header nav:nth-of-type(2) ul{
	display: flex;
	list-style: none;
	gap: 1em;
	margin: 0;
	padding: 0;
	padding-top: 1em;
}

header nav:nth-of-type(2) ul a{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5em;

	padding-right: 0.5em;
}

header nav:nth-of-type(2) img{
	width: 3em;
	height: 2.6em;
}

@media (width > 1100px) {

	header {
		gap:1.5em;
		padding: 0;
		background-image: linear-gradient(silver 3.5em, transparent 0);
	}

	header > a {
		width: 10em;
		position: absolute;
		left: 1em;
	}

	header > button {
		display: none;
	}

	header nav:nth-of-type(1) button {
		display: none;
	}

	header nav:nth-of-type(1) {
		position:static;
        translate:unset;
        padding:0;
        background:none;

		order:1;

		padding-left: 3em;
	}

	header nav:nth-of-type(1) ul {
		flex-direction: row;
		padding: 0;
	}

	header nav:nth-of-type(1) li {
		border-bottom: none;
	}

	header form {
		background-color: white;
		display: flex;
		width: auto;
		order:3;

		margin-right: 3em;

		width:10em;

		display:flex;
	}
	
	header form label {
		flex-grow:1;
	}

	header form input {
		font:1em;
		padding: 0;
		border: none;
	
		text-align: end;
		width:100%;
		height:100%;
		border-bottom: #111;
	}
	
	header form button {
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0;
	
		background: none;
		border: none
	}
	
	header form button img {
		width: 1em;
		height: auto;
		
	}

	header nav:nth-of-type(2) {
		width:50%;
		margin-left:auto;
	}

	header nav:nth-of-type(2) ul{
		display: flex;
		list-style: none;
		gap: 1em;
		margin: 0;
		padding: 0;
		padding-top: 0.5em;
		padding-right: 1em;

		justify-content: end;
	}
	
	header nav:nth-of-type(2) ul a{
		display: flex;
		flex-direction: column;
		align-items: center;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.5em;
	
		padding-right: 0.5em;
	}
	
	header nav:nth-of-type(2) img{
		width: 3em;
		height: 2.6em;
	}

}

@media (width > 1500px) {
	header nav:nth-of-type(2) {
		width: 100%;
	}
}


/*///////////////////////////////// main//////////////////////////////////////////   */

 /* chat box */

main dialog::backdrop {
	background-color: white;
}

html:has(main dialog [open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

dialog button.close {
	position: absolute;
	top:0;
	right: 0;
	width:3em;
}

main dialog {
	position: fixed;
	inset: 0;
	margin: 0;
	padding: 0;
	width: auto;           
	height: auto; 
	z-index: 2;

	border: none
}

main dialog article:nth-of-type(1) {
	background-color: rgb(169, 198, 169);
	margin: 0;
	padding: 1.2em;
	position: relative;
}

main dialog article:nth-of-type(1) button {
	position: absolute;
	right: 1em;
}

main dialog article:nth-of-type(1) h2 {
	margin: 0;
	padding-left: 1em;
	font-family: "sissyboy-font";
}

main dialog article:nth-of-type(1) h3 {
	margin: 0;
	padding-left: 1em;
	font-family: "sissyboy-font";
	font-weight: 400;
}

main dialog article:nth-of-type(2) p:nth-of-type(1) {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
}

main dialog article:nth-of-type(2) p:nth-of-type(2) {
	margin-left: 4em;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
}

main dialog article:nth-of-type(3) {
	margin-left: 3em;
	margin-right: 7em;
	margin-bottom: 1em;
	padding: 0.1em;
	padding-left: 1em;

	font-family: Arial, Helvetica, sans-serif;
	border-radius: 1em;
	background-color: rgb(236, 234, 234);

	font-size: 1.3em;
}

main dialog section {
	position: relative;

	border: var(--color-border-bottom);
	border-radius: 2em;
	padding-bottom: 6em;

	margin-left: 4em;
	margin-right: 2em;
}

main dialog section h3 {
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 1em;
}

main dialog section p {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

main dialog section button {
	position: absolute;
	bottom: 1em;
	right: 1.5em;
	background-color: rgb(111, 150, 111);
	padding: 1.5em;
	border:none;
	border-radius: 4em;
}



main dialog section input {
	width: 90%;
	box-sizing: border-box;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-left: 1em;
	margin-right: 1em;
	border-radius: 3em;
}

main dialog section button {
	position: absolute;
}

main > button {
	  background: lime;
	  border-radius: 3em;
	  width: 6em;
	  aspect-ratio: 1;
	  border: none;
	  appearance:none;

	  cursor: pointer;

	position:fixed;
	bottom: 0;
	right: 0;
	z-index:2;
  }
  main > button svg {
	width: 3em;
	height: 3em;
  }

main button:nth-last-of-type(1) img{
	width: 12em;
	height: auto;
	margin: 0;
}

/* wonder of worlds */
main section:nth-of-type(1) {
	position: sticky;
	top: 7.5em;
	z-index: 2;
}

main section:nth-of-type(1) h2{
	position: relative;
	background-color: rgb(243, 133, 133);
	color: white;
	font-size: 1em;
	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 0;
	
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

/* ///////////////////////////////////begin footer///////////////////////////////// */

/* section 1 - logo en socials */
@media (width < 460px) {
	footer section:nth-of-type(1) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
footer {
	margin-top: 3em;
}
footer section:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
}

footer section:nth-of-type(1) ul{
	display: flex;
	justify-content: end;
	list-style-type: none;
	gap: .5em;
	margin: 1em;
}

footer section:nth-of-type(1) img{
	width: 7em;
	height: 1.7em;
	margin-top: 1.6em;
	margin-left: 2em;
}

footer section:nth-of-type(1) ul li img{
	width: 3.1em;
	height: 2.5em;
	margin: 0;
	
}

/* navigatie details*/

footer details {
	margin-inline: 2em;
}
footer details ul {
	list-style: none;
	padding: 0;
	
}
footer details ul li {
	border-bottom: var(--color-border-bottom);
	padding-block: 1em;
}

footer details a {
	text-decoration: none;
	color: var(--sissy-boy-text-black);
	padding: 1em;
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
}

footer details summary {
	border-bottom: var(--color-border-bottom);
	padding-block: 1em;
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

footer details summary::marker {
	display: none; 
	content: "";
}

footer section:nth-of-type(2) {
	margin-top: 2em;
	margin-bottom: 3em;
}

footer section:nth-of-type(2) ul {
	display: flex;
	justify-content: space-between;

	padding: 0;
	margin-inline: 2em ;
	list-style: none;
}

footer section:nth-of-type(2) svg {
	width: 2.8em;
	height: auto;
}

footer > p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
}

@media (width > 1200px) {
	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		margin-left: 5em;
		margin-right: 5em;
	}

	footer details {
		order: 1;
	}

	footer details summary {
		border-bottom: none;
		padding: 0;
	}

	footer details ul li {
		border-bottom: none;
	}

	footer details a {
		padding: 0;
		color: grey;
	}
	
	footer section:nth-of-type(2) {
		width: 100%;
		order: 0;
		margin-inline: 20em;
	}

	footer section:nth-of-type(1) {
		display: flex;
		flex-direction: column;
		align-items: end;
		padding-right: 3em;
		align-self: start;

		padding: 0;
		order: 2;
	}

	footer section:nth-of-type(1) img{
		width: 12em;
		height: auto;
		margin-right: 2.3em;
	}
	
    footer > p {
	    width: 100%;
	    order: 2;
	    text-align: center;
	    border-top: solid 1px;
	    padding: 2em;
	    margin-left: 3em;
	    margin-right: 3em;
    }
}



